./.DS_Store
.vscode/launch.json

/node_modules/
/build/

###> symfony/framework-bundle ###
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
../.idea/

### tooling
tools/phpcs/.phpcs-cache
tools/*/vendor
tools/*/.cache
cache/
###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache

###< symfony/phpunit-bridge ###
/phpunit.xml.dist
/bin/phpunit
.env.local
.env.test
